In [2]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "excalories": [120, 180, 190],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

In [3]:
df

   calories  excalories  duration
0       420         120        50
1       380         180        40
2       390         190        45

In [5]:
df.columns.to_list()

['calories', 'excalories', 'duration']

In [12]:
df.values.tolist()

[[420, 120, 50], [380, 180, 40], [390, 190, 45]]

In [5]:
def sum_fields_to_field(_df: pd.DataFrame, cols: list, col: str):
    """ Sum up a list of columns and attach to dataframe, reutrn with a copy """
    assert isinstance(cols, list), "columns to be sum up must be a list"
    assert isinstance(col, str), "result column must be a string"
    df = _df.copy()
    df[col] = df[cols].sum(axis=1)
    return df

In [10]:
df

   calories  excalories  duration
0       420         120        50
1       380         180        40
2       390         190        45

In [17]:
%%timeit

sum_fields_to_field(df, ["calories","excalories"],"sumCal")

185 µs ± 2.58 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [9]:
df[["calories","excalories"]].sum(axis=1)

0    540
1    560
2    580
dtype: int64

In [18]:
%%timeit

df.assign(sumCal0 = df[["calories","excalories"]].sum(axis=1))

204 µs ± 16.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [13]:
df

   calories  excalories  duration
0       420         120        50
1       380         180        40
2       390         190        45

In [1]:
a = {"A":(1,2),"B":(3,4)}

In [3]:
{k:v2 for (k,(v1,v2)) in a.items()}

{'A': 2, 'B': 4}