In [113]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [119]:
import pandas as pd
pd.set_option("styler.format.thousands", ",")

### Import LIBRARY

In [263]:
from absbox import API,LIBRARY
library = LIBRARY("http://localhost:8082/api")

✅ Connected to library server
absbox version:0.42.5
Hastructure:{'active': {'local': 'http://localhost:8081 : 0.43.0', 'sg-dev':
'https://absbox.org/api/dev : 0.43.0', 'ldn-dev': 'https://ldn.spv.run/api/dev :
0.43.0'}, 'default': 'local', 'inactive': {}}

### LIBRARY INFO

In [264]:
library.libraryInfo

{'msg': 'This is deal library server',
 'absbox': '0.42.5',
 'Hastructure': {'active': {'local': 'http://localhost:8081 : 0.43.0',
   'sg-dev': 'https://absbox.org/api/dev : 0.43.0',
   'ldn-dev': 'https://ldn.spv.run/api/dev : 0.43.0'},
  'default': 'local',
  'inactive': {}}}

### Login

In [309]:
#library.login("trial_1","iamhere")
library.safeLogin("trial_1")

 ········

✅ login successfully, user -> trial_1,group -> trial_group_1

### Query Available Deals

#### By ID

In [310]:
library.query(("id",1))

✅ query success

   ID           name  period    stage        tags permission  group
0   1  CHANGYING2501       0  Current  Auto,China        700      1

#### By Tag

In [312]:
library.query(("tag","test"))

✅ query success

   ID      name  period    stage        tags permission  group
0   2  DUMMY_01       0  Current  China,test        710      2

#### By Deal Name

In [313]:
library.query(("name",r"MM"))

✅ query success

   ID      name  period    stage        tags permission  group
0   2  DUMMY_01       0  Current  China,test        710      2

### Run Deal in Server

#### Run with selected engine

In [306]:
(i,r) = library.run("CHANGYING2501"
                 ,runAssump = [rAssump]
                 ,read=True
                 ,engine="ldn-dev"
                )

✅ run success with deal

#### Run by ID

In [ ]:
(i,r) = library.run(("id",1)
                 ,runAssump = [rAssump]
                 ,read=True
                 ,engine="local"
                )

### Return 

Easy to for memory

* Left -> run info
* Right -> the "right"/"correct" result

#### Run Info

* time to load the deal from database
* running from the engine

In [307]:
i

{'time': {'load': '2.432 ms', 'run': '1168.133 ms'},
 'engine': 'https://ldn.spv.run/api/dev | 0.43.0',
 'deal': {'name': 'CHANGYING2501', 'id': 1}}

#### Run Result

In [308]:
r['pool']['flow']['PoolConsol'].head(2)[["Balance","Principal","Interest"]]

                 Balance     Principal     Interest
Date
2025-01-09  2.623011e+09  2.793500e+08  38382688.62
2025-01-31  2.534890e+09  8.812163e+07  12381969.17

### Q & A

In [206]:
rAssump = ("revolving"
           ,["constant",["Mortgage"
                    ,{"originBalance":2200,"originRate":["fix",0.055],"originTerm":46
                      ,"freq":"Monthly","type":"Level","originDate":"2021-02-01"}
                      ,{"currentBalance":2200
                      ,"currentRate":0.055
                      ,"remainTerm":40
                      ,"status":"current"}]
            ]
            ,("Pool",
                 ("Mortgage",{"CDR":0.01},None,None,None)
                            ,None
                            ,None
               )
)