In [304]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [313]:
from absbox.local.generic import Generic

test01 = Generic(
    "TEST01"
    ,{"cutoff":"2021-03-01","closing":"2021-06-15","firstPay":"2021-07-26"
     ,"payFreq":["DayOfMonth",20],"poolFreq":"MonthEnd","stated":"2030-01-01"}
    ,{'assets':[["Mortgage"
        ,{"originBalance":2200,"originRate":["fix",0.045],"originTerm":30
          ,"freq":"Monthly","type":"Level","originDate":"2021-02-01"}
          ,{"currentBalance":2200
          ,"currentRate":0.08
          ,"remainTerm":20
          ,"status":"current"}]]}
    ,(("acc01",{"balance":0}),)
    ,(("A1",{"balance":1000
             ,"rate":0.07
             ,"originBalance":1000
             ,"originRate":0.07
             ,"startDate":"2020-01-03"
             ,"rateType":{"Fixed":0.08}
             ,"bondType":{"Sequential":None}})
      ,("B",{"balance":1000
             ,"rate":0.0
             ,"originBalance":1000
             ,"originRate":0.07
             ,"startDate":"2020-01-03"
             ,"rateType":{"Fixed":0.00}
             ,"bondType":{"Equity":None}
             }))
    ,(("trusteeFee",{"type":{"fixFee":30}}),)
    ,{"amortizing":[
         ["payFee",["acc01"],['trusteeFee']]
         ,["payInt","acc01",["A1"]]
         ,["payPrin","acc01",["A1"]]
         ,["payPrin","acc01",["B"]]
         ,["payResidual","acc01","B"]
     ]}
    ,[["CollectedInterest","acc01"]
      ,["CollectedPrincipal","acc01"]
      ,["CollectedPrepayment","acc01"]
      ,["CollectedRecoveries","acc01"]]
    ,None
    ,None)

In [314]:
from absbox import API
localAPI = API("http://localhost:8081",False)

In [324]:
r = localAPI.run(test01,
           assumptions=[{"FinancialReports":{"dates":"MonthEnd"}},{"CDR":0.01},{"Recovery":(0.5,4)}],
           read=True)

In [309]:
r = localAPI.run(test01,
           assumptions=[{"CDR":0.01},{"Recovery":(0.5,4)}],
           read=True)

In [320]:
pd.set_option('display.max_rows', None)

In [325]:
r['result']['report']['cash']

                                            inflow  \
                      PoolInflow CollectedInterest
startDate  endDate
2021-06-30 2021-07-31                          NaN
2021-07-31 2021-08-31                          NaN
2021-08-31 2021-09-30                          NaN
2021-09-30 2021-10-31                          NaN
2021-10-31 2021-11-30                          NaN
2021-11-30 2021-12-31                          NaN
2021-12-31 2022-01-31                         8.24
2022-01-31 2022-02-28                         7.83
2022-02-28 2022-03-31                         7.43
2022-03-31 2022-04-30                         7.02
2022-04-30 2022-05-31                         6.62
2022-05-31 2022-06-30                         6.21
2022-06-30 2022-07-31                         5.80
2022-07-31 2022-08-31                         5.39
2022-08-31 2022-09-30                         4.98
2022-09-30 2022-10-31                         4.57
2022-10-31 2022-11-30                         4.16
2022-11-30 2022-12-31                         3.75
2022-12-31 2023-01-31                         3.33
2023-01-31 2023-02-28                         2.92
2023-02-28 2023-03-31                         2.50
2023-03-31 2023-04-30                         2.09
2023-04-30 2023-05-31                         1.67
2023-05-31 2023-06-30                         1.25
2023-06-30 2023-07-31                         0.83
2023-07-31 2023-08-31                         0.42
2023-08-31 2023-09-30                         0.00
2023-09-30 2023-10-31                         0.00
2023-10-31 2023-11-30                         0.00
2023-11-30 2023-12-31                         0.00

                                                      \
                      PoolInflow CollectedPrepayment
startDate  endDate
2021-06-30 2021-07-31                            NaN
2021-07-31 2021-08-31                            NaN
2021-08-31 2021-09-30                            NaN
2021-09-30 2021-10-31                            NaN
2021-10-31 2021-11-30                            NaN
2021-11-30 2021-12-31                            NaN
2021-12-31 2022-01-31                            0.0
2022-01-31 2022-02-28                            0.0
2022-02-28 2022-03-31                            0.0
2022-03-31 2022-04-30                            0.0
2022-04-30 2022-05-31                            0.0
2022-05-31 2022-06-30                            0.0
2022-06-30 2022-07-31                            0.0
2022-07-31 2022-08-31                            0.0
2022-08-31 2022-09-30                            0.0
2022-09-30 2022-10-31                            0.0
2022-10-31 2022-11-30                            0.0
2022-11-30 2022-12-31                            0.0
2022-12-31 2023-01-31                            0.0
2023-01-31 2023-02-28                            0.0
2023-02-28 2023-03-31                            0.0
2023-03-31 2023-04-30                            0.0
2023-04-30 2023-05-31                            0.0
2023-05-31 2023-06-30                            0.0
2023-06-30 2023-07-31                            0.0
2023-07-31 2023-08-31                            0.0
2023-08-31 2023-09-30                            0.0
2023-09-30 2023-10-31                            0.0
2023-10-31 2023-11-30                            0.0
2023-11-30 2023-12-31                            0.0

                                                     \
                      PoolInflow CollectedPrincipal
startDate  endDate
2021-06-30 2021-07-31                           NaN
2021-07-31 2021-08-31                           NaN
2021-08-31 2021-09-30                           NaN
2021-09-30 2021-10-31                           NaN
2021-10-31 2021-11-30                           NaN
2021-11-30 2021-12-31                           NaN
2021-12-31 2022-01-31                        106.04
2022-01-31 2022-02-28                        106.35
2022-02-28 2022-03-31                        106.67
2022-03-31 2022-04-30                        106.98
2022-04-30 2022-05-31                        107.28
2022-05-31 2022-06-30                        107.60
2022-06-30 2022-07-31                        107.91
2022-07-31 2022-08-31                        108.23
2022-08-31 2022-09-30                        108.54
2022-09-30 2022-10-31                        108.86
2022-10-31 2022-11-30                        109.17
2022-11-30 2022-12-31                        109.49
2022-12-31 2023-01-31                        109.81
2023-01-31 2023-02-28                        110.13
2023-02-28 2023-03-31                        110.46
2023-03-31 2023-04-30                        110.78
2023-04-30 2023-05-31                        111.11
2023-05-31 2023-06-30                        111.43
2023-06-30 2023-07-31                        111.76
2023-07-31 2023-08-31                        112.08
2023-08-31 2023-09-30                          0.00
2023-09-30 2023-10-31                          0.00
2023-10-31 2023-11-30                          0.00
2023-11-30 2023-12-31                          0.00

                                                           outflow  \
                      PoolInflow CollectedRecoveries PayInt ["A1"]
startDate  endDate
2021-06-30 2021-07-31                            NaN          0.00
2021-07-31 2021-08-31                            NaN          0.00
2021-08-31 2021-09-30                            NaN          0.00
2021-09-30 2021-10-31                            NaN          0.00
2021-10-31 2021-11-30                            NaN          0.00
2021-11-30 2021-12-31                            NaN          0.00
2021-12-31 2022-01-31                           0.00          0.00
2022-01-31 2022-02-28                           0.00        -48.93
2022-02-28 2022-03-31                           0.00         -5.18
2022-03-31 2022-04-30                           0.00         -5.08
2022-04-30 2022-05-31                           0.93         -4.29
2022-05-31 2022-06-30                           0.89         -3.78
2022-06-30 2022-07-31                           0.76         -3.02
2022-07-31 2022-08-31                           0.80         -2.46
2022-08-31 2022-09-30                           0.72         -1.79
2022-09-30 2022-10-31                           0.70         -1.09
2022-10-31 2022-11-30                           0.63         -0.45
2022-11-30 2022-12-31                           0.61          0.00
2022-12-31 2023-01-31                           0.56          0.00
2023-01-31 2023-02-28                           0.50          0.00
2023-02-28 2023-03-31                           0.47          0.00
2023-03-31 2023-04-30                           0.41          0.00
2023-04-30 2023-05-31                           0.38          0.00
2023-05-31 2023-06-30                           0.33          0.00
2023-06-30 2023-07-31                           0.25          0.00
2023-07-31 2023-08-31                           0.23          0.00
2023-08-31 2023-09-30                           0.18          0.00
2023-09-30 2023-10-31                           0.14          0.00
2023-10-31 2023-11-30                           0.09          0.00
2023-11-30 2023-12-31                           0.04          0.00

                                                                 \
                      PayPrin ["A1"] PayPrin ["B"] PayYield "B"
startDate  endDate
2021-06-30 2021-07-31           0.00          0.00         0.00
2021-07-31 2021-08-31           0.00          0.00         0.00
2021-08-31 2021-09-30           0.00          0.00         0.00
2021-09-30 2021-10-31           0.00          0.00         0.00
2021-10-31 2021-11-30           0.00          0.00         0.00
2021-11-30 2021-12-31           0.00          0.00         0.00
2021-12-31 2022-01-31           0.00          0.00         0.00
2022-01-31 2022-02-28         -35.35          0.00         0.00
2022-02-28 2022-03-31        -109.00          0.00         0.00
2022-03-31 2022-04-30        -109.02          0.00         0.00
2022-04-30 2022-05-31        -109.71          0.00         0.00
2022-05-31 2022-06-30        -111.05          0.00         0.00
2022-06-30 2022-07-31        -111.68          0.00         0.00
2022-07-31 2022-08-31        -112.01          0.00         0.00
2022-08-31 2022-09-30        -112.63          0.00         0.00
2022-09-30 2022-10-31        -113.15          0.00         0.00
2022-10-31 2022-11-30         -76.40        -37.28         0.00
2022-11-30 2022-12-31           0.00       -113.96         0.00
2022-12-31 2023-01-31           0.00       -113.85         0.00
2023-01-31 2023-02-28           0.00       -113.70         0.00
2023-02-28 2023-03-31           0.00       -113.55         0.00
2023-03-31 2023-04-30           0.00       -113.43         0.00
2023-04-30 2023-05-31           0.00       -113.28         0.00
2023-05-31 2023-06-30           0.00       -113.16         0.00
2023-06-30 2023-07-31           0.00       -113.01         0.00
2023-07-31 2023-08-31           0.00        -54.78       -58.06
2023-08-31 2023-09-30           0.00          0.00      -112.73
2023-09-30 2023-10-31           0.00          0.00        -0.18
2023-10-31 2023-11-30           0.00          0.00        -0.14
2023-11-30 2023-12-31           0.00          0.00        -0.09

                                                   Net
                      SeqPayFee ["trusteeFee"]
startDate  endDate
2021-06-30 2021-07-31                      0.0    0.00
2021-07-31 2021-08-31                      0.0    0.00
2021-08-31 2021-09-30                      0.0    0.00
2021-09-30 2021-10-31                      0.0    0.00
2021-10-31 2021-11-30                      0.0    0.00
2021-11-30 2021-12-31                      0.0    0.00
2021-12-31 2022-01-31                      0.0  114.28
2022-01-31 2022-02-28                    -30.0   -0.10
2022-02-28 2022-03-31                      0.0   -0.08
2022-03-31 2022-04-30                      0.0   -0.10
2022-04-30 2022-05-31                      0.0    0.83
2022-05-31 2022-06-30                      0.0   -0.13
2022-06-30 2022-07-31                      0.0   -0.23
2022-07-31 2022-08-31                      0.0   -0.05
2022-08-31 2022-09-30                      0.0   -0.18
2022-09-30 2022-10-31                      0.0   -0.11
2022-10-31 2022-11-30                      0.0   -0.17
2022-11-30 2022-12-31                      0.0   -0.11
2022-12-31 2023-01-31                      0.0   -0.15
2023-01-31 2023-02-28                      0.0   -0.15
2023-02-28 2023-03-31                      0.0   -0.12
2023-03-31 2023-04-30                      0.0   -0.15
2023-04-30 2023-05-31                      0.0   -0.12
2023-05-31 2023-06-30                      0.0   -0.15
2023-06-30 2023-07-31                      0.0   -0.17
2023-07-31 2023-08-31                      0.0   -0.11
2023-08-31 2023-09-30                      0.0 -112.55
2023-09-30 2023-10-31                      0.0   -0.04
2023-10-31 2023-11-30                      0.0   -0.05
2023-11-30 2023-12-31                      0.0   -0.05

In [273]:
2092.09 - 2083.85

8.240000000000236

In [274]:
114.28+2092.09+1.87

2208.2400000000002

In [275]:
114.18+1983.98+3.65

2101.81

In [276]:
964.65+1000.00

1964.65

In [297]:
r['bonds']['A1']

,balance,interest,principal,rate,cash,memo
date,,,,,,
2021-07-26,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2021-08-20,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2021-09-20,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2021-10-20,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2021-11-20,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2021-12-20,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-01-20,1000.00,0.00,0.00,0.07,0.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-02-20,964.65,48.93,35.35,0.07,84.28,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-03-20,855.65,5.18,109.00,0.07,114.18,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-04-20,746.63,5.08,109.02,0.07,114.10,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-05-20,636.92,4.29,109.71,0.07,114.00,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-06-20,525.87,3.78,111.05,0.07,114.83,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-07-20,414.19,3.02,111.68,0.07,114.70,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-08-20,302.18,2.46,112.01,0.07,114.47,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-09-20,189.55,1.79,112.63,0.07,114.42,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-10-20,76.40,1.09,113.15,0.07,114.24,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"
2022-11-20,0.00,0.45,76.40,0.07,76.85,"[<PayInt:[""A1""]>, <PayPrin:[""A1""]>]"

In [326]:
r['result']['report']['balanceSheet']

             asset                                              liability  \
             acc01 Pool Performing Pool Defaulted Pool Recovery        A1
reportDate
2021-03-31    0.00         2200.00           0.00          0.00   1000.00
2021-04-30    0.00         2200.00           0.00          0.00   1000.00
2021-05-31    0.00         2200.00           0.00          0.00   1000.00
2021-06-30    0.00         2200.00           0.00          0.00   1000.00
2021-07-31    0.00         2200.00           0.00          0.00   1000.00
2021-08-31    0.00         2200.00           0.00          0.00   1000.00
2021-09-30    0.00         2200.00           0.00          0.00   1000.00
2021-10-31    0.00         2200.00           0.00          0.00   1000.00
2021-11-30    0.00         2200.00           0.00          0.00   1000.00
2021-12-31    0.00         2200.00           0.00          0.00   1000.00
2022-01-31  114.28         2092.09           1.87          0.00   1000.00
2022-02-28  114.18         1983.96           3.65          0.00    964.65
2022-03-31  114.10         1875.77           5.17          0.00    855.65
2022-04-30  114.00         1767.19           6.77          0.00    746.63
2022-05-31  114.83         1658.46           8.22         -0.93    636.92
2022-06-30  114.70         1549.45           9.63         -1.82    525.87
2022-07-31  114.47         1440.27          10.90         -2.58    414.19
2022-08-31  114.42         1330.82          12.12         -3.38    302.18
2022-09-30  114.24         1221.15          13.25         -4.10    189.55
2022-10-31  114.13         1111.29          14.25         -4.80     76.40
2022-11-30  113.96         1001.18          15.19         -5.43      0.00
2022-12-31  113.85          890.87          16.01         -6.04      0.00
2023-01-31  113.70          780.30          16.77         -6.60      0.00
2023-02-28  113.55          669.51          17.43         -7.10      0.00
2023-03-31  113.43          558.54          17.94         -7.57      0.00
2023-04-30  113.28          447.29          18.41         -7.98      0.00
2023-05-31  113.16          335.82          18.77         -8.36      0.00
2023-06-30  113.01          224.11          19.05         -8.69      0.00
2023-07-31  112.84          112.17          19.23         -8.94      0.00
2023-08-31  112.73            0.00          19.32         -9.17      0.00
2023-09-30    0.18            0.00          19.32         -9.35      0.00
2023-10-31    0.14            0.00          19.32         -9.49      0.00
2023-11-30    0.09            0.00          19.32         -9.58      0.00
2023-12-31    0.04            0.00          19.32         -9.62      0.00

                                                                       equity
                  B Accured Int:A1 Accured Int:B Fee Due:trusteeFee Net Asset
reportDate
2021-03-31  1000.00           0.00           0.0                0.0    200.00
2021-04-30  1000.00           0.00           0.0                0.0    200.00
2021-05-31  1000.00           0.00           0.0                0.0    200.00
2021-06-30  1000.00           2.87           0.0               30.0    167.13
2021-07-31  1000.00           8.82           0.0               30.0    161.18
2021-08-31  1000.00          14.82           0.0               30.0    155.18
2021-09-30  1000.00          20.66           0.0               30.0    149.34
2021-10-31  1000.00          26.73           0.0               30.0    143.27
2021-11-30  1000.00          32.63           0.0               30.0    137.37
2021-12-31  1000.00          38.76           0.0               30.0    131.24
2022-01-31  1000.00          44.93           0.0               30.0    133.31
2022-02-28  1000.00           1.48           0.0                0.0    135.66
2022-03-31  1000.00           1.80           0.0                0.0    137.59
2022-04-30  1000.00           1.43           0.0                0.0    139.90
2022-05-31  1000.00           1.34           0.0                0.0    142.32
2022-06-30  1000.00           1.00           0.0                0.0    145.09
2022-07-31  1000.00           0.87           0.0                0.0    148.00
2022-08-31  1000.00           0.63           0.0                0.0    151.17
2022-09-30  1000.00           0.36           0.0                0.0    154.63
2022-10-31  1000.00           0.16           0.0                0.0    158.31
2022-11-30   962.72           0.00           0.0                0.0    162.18
2022-12-31   848.76           0.00           0.0                0.0    165.93
2023-01-31   734.91           0.00           0.0                0.0    169.26
2023-02-28   621.21           0.00           0.0                0.0    172.18
2023-03-31   507.66           0.00           0.0                0.0    174.68
2023-04-30   394.23           0.00           0.0                0.0    176.77
2023-05-31   280.95           0.00           0.0                0.0    178.44
2023-06-30   167.79           0.00           0.0                0.0    179.69
2023-07-31    54.78           0.00           0.0                0.0    180.52
2023-08-31     0.00           0.00           0.0                0.0    122.88
2023-09-30     0.00           0.00           0.0                0.0     10.15
2023-10-31     0.00           0.00           0.0                0.0      9.97
2023-11-30     0.00           0.00           0.0                0.0      9.83
2023-12-31     0.00           0.00           0.0                0.0      9.74

In [298]:
r['result']['report']['balanceSheet']

             asset                                              liability  \
             acc01 Pool Performing Pool Defaulted Pool Recovery        A1
reportDate
2021-03-31    0.00         2200.00           0.00          0.00   1000.00
2021-04-30    0.00         2200.00           0.00          0.00   1000.00
2021-05-31    0.00         2200.00           0.00          0.00   1000.00
2021-06-30    0.00         2200.00           0.00          0.00   1000.00
2021-07-31    0.00         2200.00           0.00          0.00   1000.00
2021-08-31    0.00         2200.00           0.00          0.00   1000.00
2021-09-30    0.00         2200.00           0.00          0.00   1000.00
2021-10-31    0.00         2200.00           0.00          0.00   1000.00
2021-11-30    0.00         2200.00           0.00          0.00   1000.00
2021-12-31    0.00         2200.00           0.00          0.00   1000.00
2022-01-31  114.28         2092.09           1.87          0.00   1000.00
2022-02-28  114.18         1983.96           3.65          0.00    964.65
2022-03-31  114.10         1875.77           5.17          0.00    855.65
2022-04-30  114.00         1767.19           6.77          0.00    746.63
2022-05-31  114.83         1658.46           8.22         -0.93    636.92
2022-06-30  114.70         1549.45           9.63         -1.82    525.87
2022-07-31  114.47         1440.27          10.90         -2.58    414.19
2022-08-31  114.42         1330.82          12.12         -3.38    302.18
2022-09-30  114.24         1221.15          13.25         -4.10    189.55
2022-10-31  114.13         1111.29          14.25         -4.80     76.40
2022-11-30  113.96         1001.18          15.19         -5.43      0.00
2022-12-31  113.85          890.87          16.01         -6.04      0.00
2023-01-31  113.70          780.30          16.77         -6.60      0.00
2023-02-28  113.55          669.51          17.43         -7.10      0.00
2023-03-31  113.43          558.54          17.94         -7.57      0.00
2023-04-30  113.28          447.29          18.41         -7.98      0.00
2023-05-31  113.16          335.82          18.77         -8.36      0.00
2023-06-30  113.01          224.11          19.05         -8.69      0.00
2023-07-31  112.84          112.17          19.23         -8.94      0.00
2023-08-31  112.73            0.00          19.32         -9.17      0.00
2023-09-30    0.18            0.00          19.32         -9.35      0.00
2023-10-31    0.14            0.00          19.32         -9.49      0.00
2023-11-30    0.09            0.00          19.32         -9.58      0.00
2023-12-31    0.04            0.00          19.32         -9.62      0.00

                                                                       equity
                  B Accured Int:A1 Accured Int:B Fee Due:trusteeFee Net Asset
reportDate
2021-03-31  1000.00           0.00           0.0                0.0    200.00
2021-04-30  1000.00           0.00           0.0                0.0    200.00
2021-05-31  1000.00           0.00           0.0                0.0    200.00
2021-06-30  1000.00           2.87           0.0               30.0    167.13
2021-07-31  1000.00           8.82           0.0               30.0    161.18
2021-08-31  1000.00          14.82           0.0               30.0    155.18
2021-09-30  1000.00          20.66           0.0               30.0    149.34
2021-10-31  1000.00          26.73           0.0               30.0    143.27
2021-11-30  1000.00          32.63           0.0               30.0    137.37
2021-12-31  1000.00          38.76           0.0               30.0    131.24
2022-01-31  1000.00          44.93           0.0               30.0    133.31
2022-02-28  1000.00           1.48           0.0                0.0    135.66
2022-03-31  1000.00           1.80           0.0                0.0    137.59
2022-04-30  1000.00           1.43           0.0                0.0    139.90
2022-05-31  1000.00           1.34           0.0                0.0    142.32
2022-06-30  1000.00           1.00           0.0                0.0    145.09
2022-07-31  1000.00           0.87           0.0                0.0    148.00
2022-08-31  1000.00           0.63           0.0                0.0    151.17
2022-09-30  1000.00           0.36           0.0                0.0    154.63
2022-10-31  1000.00           0.16           0.0                0.0    158.31
2022-11-30   962.72           0.00           0.0                0.0    162.18
2022-12-31   848.76           0.00           0.0                0.0    165.93
2023-01-31   734.91           0.00           0.0                0.0    169.26
2023-02-28   621.21           0.00           0.0                0.0    172.18
2023-03-31   507.66           0.00           0.0                0.0    174.68
2023-04-30   394.23           0.00           0.0                0.0    176.77
2023-05-31   280.95           0.00           0.0                0.0    178.44
2023-06-30   167.79           0.00           0.0                0.0    179.69
2023-07-31    54.78           0.00           0.0                0.0    180.52
2023-08-31     0.00           0.00           0.0                0.0    122.88
2023-09-30     0.00           0.00           0.0                0.0     10.15
2023-10-31     0.00           0.00           0.0                0.0      9.97
2023-11-30     0.00           0.00           0.0                0.0      9.83
2023-12-31     0.00           0.00           0.0                0.0      9.74

In [140]:
r['result']['reports'][0]

{'asset': {'acc01': 0, 'Asset': 2200},
 'liability': {'A1': 1000, 'B': 1000},
 'equity': {'Equity': 200},
 'reportDate': '2021-03-01'}

In [130]:
def buildBsType(yname, y):
    mi = pd.MultiIndex.from_product([[yname],y.keys()])
    d = y.values()
    return pd.DataFrame(d, index=mi).T

buildBsType("asset",r['result']['reports'][0]['asset'])

  asset
  acc01 Asset
0     0  2200

In [147]:
def buildBS(bs):
    def buildBsType(yname, y):
        mi = pd.MultiIndex.from_product([[yname],y.keys()])
        d = y.values()
        return pd.DataFrame(d, index=mi).T
    
    bs_df = pd.concat([  buildBsType(k,v)  for k,v in bs.items() if k!="reportDate"],axis=1)
    bs_df['reportDate'] = bs['reportDate']
    return bs_df.set_index("reportDate")

In [148]:
pd.concat([buildBS(r['result']['reports'][0]),buildBS(r['result']['reports'][3])])

           asset       liability       equity
           acc01 Asset        A1     B Equity
reportDate
2021-03-01     0  2200      1000  1000    200
2021-05-31     0  2200      1000  1000    200

In [121]:
y = pd.DataFrame.from_dict(r['result']['reports'][0]['liability'], orient="index").T
y

     A1     B
0  1000  1000

In [ ]:
def buildReportWithHeader(x,):
    pheader = 
    mi = pd.MultiIndex.from_product([["Liability"],["A1","B"]])

In [123]:
y = pd.DataFrame.from_dict(r['result']['reports'][0]['liability'], orient="index")
y.set_index( mi).T
#y

  Liability
         A1     B
0      1000  1000

In [66]:
import pandas as pd

In [89]:
def flatten_dict(nested_dict):
    res = {}
    if isinstance(nested_dict, dict):
        for k in nested_dict:
            flattened_dict = flatten_dict(nested_dict[k])
            for key, val in flattened_dict.items():
                key = list(key)
                key.insert(0, k)
                res[tuple(key)] = val
    else:
        res[()] = nested_dict
    return res


def nested_dict_to_df(values_dict):
    flat_dict = flatten_dict(values_dict)
    df = pd.DataFrame.from_dict(flat_dict, orient="index")
    df.index = pd.MultiIndex.from_tuples(df.index)
    df = df.unstack(level=-1)
    df.columns = df.columns.map("{0[1]}".format)
    return df

In [92]:
nested_dict_to_df(r['result']['reports'][0]).T

         asset  equity  liability
A1         NaN     NaN     1000.0
Asset   2200.0     NaN        NaN
B          NaN     NaN     1000.0
Equity     NaN   200.0        NaN
acc01      0.0     NaN        NaN

In [81]:
uplift_m_list([{'acc01': 0}, {'Asset': 2200}])

{'acc01': 0, 'Asset': 2200}