In [1]:
from absbox import API,EnginePath

In [2]:
localAPI = API(EnginePath.DEV,check=False)

Connecting engine server -> https://absbox.org/api/dev

✅Connected, local lib:0.28.7, server:0.28.20

In [23]:
myAsset = ["Mortgage"
            ,{"originBalance": 12000.0
            ,"originRate": ["fix",0.045]
            ,"originTerm": 30
            ,"freq": "monthly"
            ,"type": "level"
            ,"originDate": "2021-02-01"}
            ,{"currentBalance": 10000.0
            ,"currentRate": 0.075
            ,"remainTerm": 30
            ,"status": "current"}]

poolPerfAssump = ("Pool",("Mortgage",{"CDR":0.10},None,None,None)
                                    ,None
                                    ,None)
cutoffDate= "2022-03-01"

In [24]:
myPool = {'assets':[myAsset],
         'cutoffDate':cutoffDate}

rPool = localAPI.runPool(myPool
                  ,poolAssump=poolPerfAssump
                  ,read=True)

In [25]:
rAsset = localAPI.runAsset(cutoffDate
                     ,[myAsset]
                     ,poolAssump=poolPerfAssump
                     ,read=True)

In [28]:
rPool['PoolConsol'][0] == rAsset[0]

,余额,本金,利息,早偿金额,违约金额,回收金额,损失金额,利率,债务人数量,早偿手续费,累计还款,累计早偿,累计拖欠,累计违约,累计回收,累计损失
日期,,,,,,,,,,,,,,,,
2022-03-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-04-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-05-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-06-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-07-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-08-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-09-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-10-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-11-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2022-12-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-01-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-02-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-03-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-04-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-05-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-06-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-07-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True
2023-08-01,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True,True

In [26]:
rPool['PoolConsol'][0]

,余额,本金,利息,早偿金额,违约金额,回收金额,损失金额,利率,债务人数量,早偿手续费,累计还款,累计早偿,累计拖欠,累计违约,累计回收,累计损失
日期,,,,,,,,,,,,,,,,
2022-03-01,5262.89,292.56,34.72,0,45.08,0,45.08,0.075,None,None,292.56,0,0,45.08,0,45.08
2022-04-01,4924.25,291.76,32.60,0,46.88,0,46.88,0.075,None,None,584.32,0,0,91.96,0,91.96
2022-05-01,4590.74,291.06,30.51,0,42.45,0,42.45,0.075,None,None,875.38,0,0,134.41,0,134.41
2022-06-01,4259.58,290.27,28.43,0,40.89,0,40.89,0.075,None,None,1165.65,0,0,175.30,0,175.30
2022-07-01,3933.29,289.57,26.39,0,36.72,0,36.72,0.075,None,None,1455.22,0,0,212.02,0,212.02
2022-08-01,3609.48,288.78,24.36,0,35.03,0,35.03,0.075,None,None,1744.00,0,0,247.05,0,247.05
2022-09-01,3289.33,288.00,22.35,0,32.15,0,32.15,0.075,None,None,2032.00,0,0,279.20,0,279.20
2022-10-01,2973.67,287.30,20.38,0,28.36,0,28.36,0.075,None,None,2319.30,0,0,307.56,0,307.56
2022-11-01,2660.65,286.53,18.41,0,26.49,0,26.49,0.075,None,None,2605.83,0,0,334.05,0,334.05
2022-12-01,2351.88,285.83,16.48,0,22.94,0,22.94,0.075,None,None,2891.66,0,0,356.99,0,356.99
2023-01-01,2045.87,285.06,14.56,0,20.95,0,20.95,0.075,None,None,3176.72,0,0,377.94,0,377.94
2023-02-01,1743.37,284.28,12.67,0,18.22,0,18.22,0.075,None,None,3461.00,0,0,396.16,0,396.16
2023-03-01,1445.58,283.76,10.80,0,14.03,0,14.03,0.075,None,None,3744.76,0,0,410.19,0,410.19
2023-04-01,1149.73,282.98,8.95,0,12.87,0,12.87,0.075,None,None,4027.74,0,0,423.06,0,423.06
2023-05-01,857.52,282.30,7.12,0,9.91,0,9.91,0.075,None,None,4310.04,0,0,432.97,0,432.97
2023-06-01,568.36,281.53,5.31,0,7.63,0,7.63,0.075,None,None,4591.57,0,0,440.60,0,440.60
2023-07-01,282.61,280.85,3.52,0,4.90,0,4.90,0.075,None,None,4872.42,0,0,445.50,0,445.50
2023-08-01,0.00,280.10,1.75,0,2.51,0,2.51,0.075,None,None,5152.52,0,0,448.01,0,448.01

In [27]:
rAsset[0]

,余额,本金,利息,早偿金额,违约金额,回收金额,损失金额,利率,债务人数量,早偿手续费,累计还款,累计早偿,累计拖欠,累计违约,累计回收,累计损失
日期,,,,,,,,,,,,,,,,
2022-03-01,5262.89,292.56,34.72,0,45.08,0,45.08,0.075,None,None,292.56,0,0,45.08,0,45.08
2022-04-01,4924.25,291.76,32.60,0,46.88,0,46.88,0.075,None,None,584.32,0,0,91.96,0,91.96
2022-05-01,4590.74,291.06,30.51,0,42.45,0,42.45,0.075,None,None,875.38,0,0,134.41,0,134.41
2022-06-01,4259.58,290.27,28.43,0,40.89,0,40.89,0.075,None,None,1165.65,0,0,175.30,0,175.30
2022-07-01,3933.29,289.57,26.39,0,36.72,0,36.72,0.075,None,None,1455.22,0,0,212.02,0,212.02
2022-08-01,3609.48,288.78,24.36,0,35.03,0,35.03,0.075,None,None,1744.00,0,0,247.05,0,247.05
2022-09-01,3289.33,288.00,22.35,0,32.15,0,32.15,0.075,None,None,2032.00,0,0,279.20,0,279.20
2022-10-01,2973.67,287.30,20.38,0,28.36,0,28.36,0.075,None,None,2319.30,0,0,307.56,0,307.56
2022-11-01,2660.65,286.53,18.41,0,26.49,0,26.49,0.075,None,None,2605.83,0,0,334.05,0,334.05
2022-12-01,2351.88,285.83,16.48,0,22.94,0,22.94,0.075,None,None,2891.66,0,0,356.99,0,356.99
2023-01-01,2045.87,285.06,14.56,0,20.95,0,20.95,0.075,None,None,3176.72,0,0,377.94,0,377.94
2023-02-01,1743.37,284.28,12.67,0,18.22,0,18.22,0.075,None,None,3461.00,0,0,396.16,0,396.16
2023-03-01,1445.58,283.76,10.80,0,14.03,0,14.03,0.075,None,None,3744.76,0,0,410.19,0,410.19
2023-04-01,1149.73,282.98,8.95,0,12.87,0,12.87,0.075,None,None,4027.74,0,0,423.06,0,423.06
2023-05-01,857.52,282.30,7.12,0,9.91,0,9.91,0.075,None,None,4310.04,0,0,432.97,0,432.97
2023-06-01,568.36,281.53,5.31,0,7.63,0,7.63,0.075,None,None,4591.57,0,0,440.60,0,440.60
2023-07-01,282.61,280.85,3.52,0,4.90,0,4.90,0.075,None,None,4872.42,0,0,445.50,0,445.50
2023-08-01,0.00,280.10,1.75,0,2.51,0,2.51,0.075,None,None,5152.52,0,0,448.01,0,448.01