In [1]:
from absbox.local.generic import Generic

test01 = Generic(
    "TEST01"
    ,{"cutoff":"2021-03-01","closing":"2021-06-15","firstPay":"2021-07-26"
     ,"payFreq":["DayOfMonth",20],"poolFreq":"MonthEnd","stated":"2030-01-01"}
    ,{'assets':[["Mortgage"
        ,{"originBalance":2200,"originRate":["fix",0.045],"originTerm":30
          ,"freq":"Monthly","type":"Level","originDate":"2021-02-01"}
          ,{"currentBalance":2200
          ,"currentRate":0.08
          ,"remainTerm":20
          ,"status":"current"}]]}
    ,(("acc01",{"balance":0}),)
    ,(("A1",{"balance":1000
             ,"rate":0.07
             ,"originBalance":1000
             ,"originRate":0.07
             ,"startDate":"2020-01-03"
             ,"rateType":{"Fixed":0.08}
             ,"bondType":{"Sequential":None}})
      ,("B",{"balance":1000
             ,"rate":0.0
             ,"originBalance":1000
             ,"originRate":0.07
             ,"startDate":"2020-01-03"
             ,"rateType":{"Fixed":0.00}
             ,"bondType":{"Equity":None}
             }))
    ,(("trusteeFee",{"type":{"fixFee":30}}),)
    ,{"amortizing":[
         ["payFee",["acc01"],['trusteeFee']]
         ,["payInt","acc01",["A1"]]
         ,["payPrin","acc01",["A1"]]
         ,["payPrin","acc01",["B"]]
         ,["payResidual","acc01","B"]
     ]}
    ,[["CollectedInterest","acc01"]
      ,["CollectedPrincipal","acc01"]
      ,["CollectedPrepayment","acc01"]
      ,["CollectedRecoveries","acc01"]]
    ,None
    ,None)

In [2]:
def run_yield_table(api, d, bondName, p_assumps:dict, b_assumps:dict):
    
    rs = api.run(d ,assumptions=p_assumps
                   ,pricing = b_assumps
                   ,read=True)

    b_pricing = [ _['pricing'][bondName] for _ in rs ]

    return b_pricing

In [3]:
from absbox import API

localAPI = API("http://localhost:8081",'english')

In [26]:
def run_yield_table(api, d, bondName, p_assumps:dict, b_assumps:dict):
    
    rs = api.run(d ,assumptions=p_assumps
                   ,pricing = b_assumps
                   ,read=True)

    b_pricing = {k:v['pricing'].loc[bondName] for k,v in rs.items() }
    b_table = pd.concat(b_pricing.values(),axis=1)
    b_table.columns = list(b_pricing.keys())

    return b_table

In [28]:
pool_assumps = {
     "CPR15":[{"CPR":0.15}]
    ,"CPR20":[{"CPR":0.20}]
    ,"CPR25":[{"CPR":0.25}]
}

pricing_assumps = {"PVDate":"2021-08-22"
                  ,"PVCurve":[["2021-01-01",0.025]
                             ,["2024-08-01",0.025]]}

run_yield_table(localAPI, test01, "A1", pool_assumps, pricing_assumps )

                   CPR20    CPR25   CPR15
pricing          461.110  425.630  495.20
face              46.111   42.563   49.52
WAL                0.180    0.160    0.20
duration           0.160    0.150    0.18
convexity          0.210    0.190    0.23
accure interest    0.000    0.000    0.00

In [17]:
import pandas as pd

In [22]:
xxx = pd.concat(xx.values(),axis=1)
xxx.columns = ["A","B","C"]
xxx

                       A        B       C
pricing          461.110  425.630  495.20
face              46.111   42.563   49.52
WAL                0.180    0.160    0.20
duration           0.160    0.150    0.18
convexity          0.210    0.190    0.23
accure interest    0.000    0.000    0.00