### Run Multiple Scenario on Pool

In [1]:
from absbox import API,EnginePath

localAPI = API(EnginePath.DEV, lang='english',check=False)

Connecting engine server -> http://localhost:8081

✅Connected, local lib:0.26.4, server:0.26.5

#### Pool

In `Pool` , it will have a field named `assets` ,which contains a list of `assets`

In [2]:
mortgage1 = ["Mortgage"
            ,{"originBalance": 12000.0
            ,"originRate": ["fix",0.045]
            ,"originTerm": 40
            ,"freq": "monthly"
            ,"type": "level"
            ,"originDate": "2021-02-01"}
            ,{"currentBalance": 10000.0
            ,"currentRate": 0.075
            ,"remainTerm": 30
            ,"status": "current"}]

mortgage2 = ["Mortgage"
            ,{"originBalance": 800.0
            ,"originRate": ["fix",0.045]
            ,"originTerm": 25
            ,"freq": "monthly"
            ,"type": "level"
            ,"originDate": "2021-02-01"}
            ,{"currentBalance": 600.0
            ,"currentRate": 0.075
            ,"remainTerm": 15
            ,"status": "current"}]

myPool = {'assets':[ mortgage1, mortgage2],
         'cutoffDate':"2022-03-01"}

#### Set Multi Assumption

It is just a map!

In [3]:
multiAssump= \
    {"cdr001":("Pool",("Mortgage",{"CDR":0.01},None,None,None)
                                    ,None
                                    ,None)
    ,"non":("Pool",("Mortgage",None,None,None,None)
                    ,None
                    ,None
                    )}

Make sure call `runPoolByScenarios`

In [4]:
r = localAPI.runPoolByScenarios(myPool,poolAssump=multiAssump,read=True)

Use keys from `multiAssump` to retrive results

In [10]:
r['cdr001']['PoolConsol'][0]

,Balance,Principal,Interest,Prepayment,Default,Recovery,Loss,WAC,BorrowerNum,PrepayPenalty,CumPrincipal,CumPrepay,CumDelinq,CumDefault,CumRecovery,CumLoss
Date,,,,,,,,,,,,,,,,
2022-03-01,9542.79,345.80,61.80,0,7.62,0,7.62,0.075,None,None,345.80,0,0,7.62,0,7.62
2022-04-01,9186.98,347.68,59.58,0,8.13,0,8.13,0.075,None,None,693.48,0,0,15.75,0,15.75
2022-05-01,8829.85,349.56,57.36,0,7.57,0,7.57,0.075,None,None,1043.04,0,0,23.32,0,23.32
2022-06-01,8470.88,351.45,55.13,0,7.52,0,7.52,0.075,None,None,1394.49,0,0,30.84,0,30.84
2022-07-01,8110.54,353.35,52.89,0,6.99,0,6.99,0.075,None,None,1747.84,0,0,37.83,0,37.83
2022-08-01,7748.37,355.26,50.64,0,6.91,0,6.91,0.075,None,None,2103.10,0,0,44.74,0,44.74
2022-09-01,7384.60,357.17,48.38,0,6.60,0,6.60,0.075,None,None,2460.27,0,0,51.34,0,51.34
2022-10-01,7019.39,359.12,46.10,0,6.09,0,6.09,0.075,None,None,2819.39,0,0,57.43,0,57.43
2022-11-01,6652.36,361.05,43.82,0,5.98,0,5.98,0.075,None,None,3180.44,0,0,63.41,0,63.41
2022-12-01,6283.87,363.01,41.53,0,5.48,0,5.48,0.075,None,None,3543.45,0,0,68.89,0,68.89
2023-01-01,5913.56,364.96,39.24,0,5.35,0,5.35,0.075,None,None,3908.41,0,0,74.24,0,74.24
2023-02-01,5541.59,366.93,36.92,0,5.04,0,5.04,0.075,None,None,4275.34,0,0,79.28,0,79.28
2023-03-01,5168.39,368.94,34.60,0,4.26,0,4.26,0.075,None,None,4644.28,0,0,83.54,0,83.54
2023-04-01,4834.54,329.45,32.27,0,4.40,0,4.40,0.075,None,None,4973.73,0,0,87.94,0,87.94
2023-05-01,4499.31,331.24,30.19,0,3.99,0,3.99,0.075,None,None,5304.97,0,0,91.93,0,91.93
2023-06-01,4162.45,333.03,28.09,0,3.83,0,3.83,0.075,None,None,5638.00,0,0,95.76,0,95.76
2023-07-01,3824.19,334.83,25.99,0,3.43,0,3.43,0.075,None,None,5972.83,0,0,99.19,0,99.19
2023-08-01,3484.30,336.63,23.88,0,3.26,0,3.26,0.075,None,None,6309.46,0,0,102.45,0,102.45
2023-09-01,3142.87,338.46,21.75,0,2.97,0,2.97,0.075,None,None,6647.92,0,0,105.42,0,105.42
2023-10-01,2799.99,340.29,19.62,0,2.59,0,2.59,0.075,None,None,6988.21,0,0,108.01,0,108.01
2023-11-01,2455.49,342.12,17.48,0,2.38,0,2.38,0.075,None,None,7330.33,0,0,110.39,0,110.39
2023-12-01,2109.49,343.98,15.33,0,2.02,0,2.02,0.075,None,None,7674.31,0,0,112.41,0,112.41
2024-01-01,1761.87,345.83,13.17,0,1.79,0,1.79,0.075,None,None,8020.14,0,0,114.20,0,114.20
2024-02-01,1412.67,347.70,11.00,0,1.50,0,1.50,0.075,None,None,8367.84,0,0,115.70,0,115.70
2024-03-01,1061.96,349.59,8.82,0,1.12,0,1.12,0.075,None,None,8717.43,0,0,116.82,0,116.82
2024-04-01,709.58,351.48,6.63,0,0.90,0,0.90,0.075,None,None,9068.91,0,0,117.72,0,117.72
2024-05-01,355.61,353.39,4.43,0,0.58,0,0.58,0.075,None,None,9422.30,0,0,118.30,0,118.30
2024-06-01,0.00,355.31,2.22,0,0.30,0,0.30,0.075,None,None,9777.61,0,0,118.60,0,118.60

#### Run Multiple Pools with Multiple Assumptions

In [11]:
receivable1 = ["Invoice"
                  ,{"start":"2024-04-01","originBalance":2000
                    ,"originAdvance":1500,"dueDate":"2024-06-01"}
                  ,{"status":"Current"}]

myMixedPool = {"invoicePool": {'assets':[receivable1],}
              ,"mortgagePool": {'assets':[mortgage1]}
              ,'cutoffDate':"2022-03-01"}

In [13]:
mPoolAssump0 = ("Pool",
               ("Mortgage",None,None,None,None)
                ,None
                ,None)

mPoolAssump = ("Pool",
               ("Mortgage",{"CDR":0.01},None,None,None)
                ,None
                ,None)

iPoolAssump0 = ("Pool"
                ,("Receivable", None, None, None)
                ,None
                ,None)

iPoolAssump = ("Pool"
                ,("Receivable", {"CDR":0.01}, None, None)
                ,None
                ,None)


r = localAPI.runPoolByScenarios(myMixedPool
                  ,poolAssump = {"NonStress":("ByPoolId",
                                    {"invoicePool":iPoolAssump0
                                    ,"mortgagePool":mPoolAssump0})
                                 ,"Stress":("ByPoolId",
                                    {"invoicePool":iPoolAssump
                                    ,"mortgagePool":mPoolAssump})}
                  ,read=True)

In [16]:
r['NonStress']['invoicePool'][0]

,Balance,AccuredFee,Principal,Fee,Default,Recovery,Loss,CumPrincipal,CumPrepay,CumDelinq,CumDefault,CumRecovery,CumLoss
Date,,,,,,,,,,,,,
2024-04-01,2000,0,0,0,0,0,0,0,0,0,0,0,0
2024-06-01,0,0,2000,0,0,0,0,0,0,0,0,0,0

In [17]:
r['Stress']['mortgagePool'][0]

,Balance,Principal,Interest,Prepayment,Default,Recovery,Loss,WAC,BorrowerNum,PrepayPenalty,CumPrincipal,CumPrepay,CumDelinq,CumDefault,CumRecovery,CumLoss
Date,,,,,,,,,,,,,,,,
2022-03-01,9059.53,307.14,58.54,0,7.22,0,7.22,0.075,None,None,307.14,0,0,7.22,0,7.22
2022-04-01,8743.01,308.80,56.57,0,7.72,0,7.72,0.075,None,None,615.94,0,0,14.94,0,14.94
2022-05-01,8425.32,310.48,54.59,0,7.21,0,7.21,0.075,None,None,926.42,0,0,22.15,0,22.15
2022-06-01,8105.99,312.15,52.61,0,7.18,0,7.18,0.075,None,None,1238.57,0,0,29.33,0,29.33
2022-07-01,7785.46,313.84,50.62,0,6.69,0,6.69,0.075,None,None,1552.41,0,0,36.02,0,36.02
2022-08-01,7463.28,315.54,48.61,0,6.64,0,6.64,0.075,None,None,1867.95,0,0,42.66,0,42.66
2022-09-01,7139.68,317.24,46.60,0,6.36,0,6.36,0.075,None,None,2185.19,0,0,49.02,0,49.02
2022-10-01,6814.83,318.96,44.58,0,5.89,0,5.89,0.075,None,None,2504.15,0,0,54.91,0,54.91
2022-11-01,6488.34,320.68,42.55,0,5.81,0,5.81,0.075,None,None,2824.83,0,0,60.72,0,60.72
2022-12-01,6160.57,322.42,40.51,0,5.35,0,5.35,0.075,None,None,3147.25,0,0,66.07,0,66.07
2023-01-01,5831.17,324.15,38.47,0,5.25,0,5.25,0.075,None,None,3471.40,0,0,71.32,0,71.32
2023-02-01,5500.30,325.90,36.41,0,4.97,0,4.97,0.075,None,None,3797.30,0,0,76.29,0,76.29
2023-03-01,5168.39,327.68,34.35,0,4.23,0,4.23,0.075,None,None,4124.98,0,0,80.52,0,80.52
2023-04-01,4834.54,329.45,32.27,0,4.40,0,4.40,0.075,None,None,4454.43,0,0,84.92,0,84.92
2023-05-01,4499.31,331.24,30.19,0,3.99,0,3.99,0.075,None,None,4785.67,0,0,88.91,0,88.91
2023-06-01,4162.45,333.03,28.09,0,3.83,0,3.83,0.075,None,None,5118.70,0,0,92.74,0,92.74
2023-07-01,3824.19,334.83,25.99,0,3.43,0,3.43,0.075,None,None,5453.53,0,0,96.17,0,96.17
2023-08-01,3484.30,336.63,23.88,0,3.26,0,3.26,0.075,None,None,5790.16,0,0,99.43,0,99.43
2023-09-01,3142.87,338.46,21.75,0,2.97,0,2.97,0.075,None,None,6128.62,0,0,102.40,0,102.40
2023-10-01,2799.99,340.29,19.62,0,2.59,0,2.59,0.075,None,None,6468.91,0,0,104.99,0,104.99
2023-11-01,2455.49,342.12,17.48,0,2.38,0,2.38,0.075,None,None,6811.03,0,0,107.37,0,107.37
2023-12-01,2109.49,343.98,15.33,0,2.02,0,2.02,0.075,None,None,7155.01,0,0,109.39,0,109.39
2024-01-01,1761.87,345.83,13.17,0,1.79,0,1.79,0.075,None,None,7500.84,0,0,111.18,0,111.18
2024-02-01,1412.67,347.70,11.00,0,1.50,0,1.50,0.075,None,None,7848.54,0,0,112.68,0,112.68
2024-03-01,1061.96,349.59,8.82,0,1.12,0,1.12,0.075,None,None,8198.13,0,0,113.80,0,113.80
2024-04-01,709.58,351.48,6.63,0,0.90,0,0.90,0.075,None,None,8549.61,0,0,114.70,0,114.70
2024-05-01,355.61,353.39,4.43,0,0.58,0,0.58,0.075,None,None,8903.00,0,0,115.28,0,115.28
2024-06-01,0.00,355.31,2.22,0,0.30,0,0.30,0.075,None,None,9258.31,0,0,115.58,0,115.58